

.textarea {

width: 80;
height: 4;

}


body {

background-color: aquamarine;
text-align: justify;

}

table {

border-radius: 50px;
border: 1px solid black;

}



form {

border-radius: 50px;
border: 1px solid black;

}

