

.textarea {

width: 80;
height: 4;

}


body {

background-color: aquamarine;
text-align: justify;

}

.table {

border-radius: 50px;
border: 50px solid black;

}



.formi {

border-radius: 50px;
border: 50px solid black;

}

.formi2 {

    border-radius: 50px;
    border: 50px solid black;
    
    }