

.textarea {

width: 80;
height: 4;

}


body {

background-color: green;
text-align: justify;

}

.col-4 {

border-radius: 50px;
border: solid black;
background-color: red;

}



.form {

border-radius: 50px;
border: solid black;

}

.table {

background-color: royalblue;

}

